<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/styles/common.css" rel="stylesheet" type="text/css" />
        <link href="/styles/member.css" rel="stylesheet" type="text/css" />
        <link href="/styles/team.css" rel="stylesheet" type="text/css" />
        <title>Our team</title>
    </head>
    <body>
        <div class="container">
            <div class="member" th:each="member : ${team}">
                <div class="member__header">
                    <div class="member__photo">
                        <img
                            class="member__image"
                            src="/images/icons/person.png"
                            th:alt="${member.getFullName()}"
                        />
                    </div>
                    <p
                        class="member__fullName"
                        th:text="${member.getFullName()}"
                    ></p>
                </div>
                <div class="member__description">
                    <p th:text="${member.getDescription()}"></p>
                </div>
            </div>
        </div>
    </body>
</html>
