* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.person_class {
  margin: 35px;
  border: 1px solid #e5e4e2;
  border-radius: 50px;
  padding: 25px;
}

.person_img {
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 200px;
  height: 200px;
}

.person_img > img {
  height: 100%;
  width: 100%;
  border-radius: 300px;
  background: lightblue;
}

.person_text {
  margin: auto;
  font-size: 20px;
}

.name {
  margin: auto;
  font-size: 30px;
  text-align: center;
}

.person_header {
  display: flex;
  align-items: center;
}
